<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.fitmoo.mobile.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Fitmoo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.fitmoo.mobile.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fitmoo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb529016930553868</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.1</string>
	<key>FacebookAppID</key>
	<string>529016930553868</string>
	<key>FacebookDisplayName</key>
	<string>Fitmoo.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>BentonSans-Regular.otf</string>
		<string>BentonSansExtraComp-Light.otf</string>
		<string>BentonSansExtraComp-Medium.otf</string>
		<string>BentonSansExtraComp-Regular.otf</string>
		<string>BentonSans-Thin.otf</string>
		<string>BentonSansComp-Black.otf</string>
		<string>BentonSansComp-Bold.otf</string>
		<string>BentonSansComp-Book.otf</string>
		<string>BentonSansComp-Light.otf</string>
		<string>BentonSansComp-Medium.otf</string>
		<string>BentonSansComp-Regular.otf</string>
		<string>BentonSansCond-Black.otf</string>
		<string>BentonSansCond-Bold.otf</string>
		<string>BentonSansCond-Book.otf</string>
		<string>BentonSansCond-Light.otf</string>
		<string>BentonSansCond-Medium.otf</string>
		<string>BentonSansCond-Regular.otf</string>
		<string>BentonSansExtraComp-Black.otf</string>
		<string>BentonSansExtraComp-Bold.otf</string>
		<string>BentonSansExtraComp-Book.otf</string>
		<string>BentonSans-Black.otf</string>
		<string>BentonSans-Bold.otf</string>
		<string>BentonSans-Book.otf</string>
		<string>BentonSans-ExtraLight.otf</string>
		<string>BentonSans-Light.otf</string>
		<string>BentonSans-Medium.otf</string>
		<string>ss-symbolicons-block.ttf</string>
		<string>fontello.ttf</string>
		<string>ss-symbolicons-line.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
